
<nav class="navbar navbar-default" style="background-color: rgb(255, 0, 0);">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" id="tracking-in-expand" style="color: rgb(0, 0, 0); text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Ali Osman Uçar</a>
      </div>
      <div class="navbar-right">
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Arama...">

          </div>
        </form>
      </div>
    </div>
  </nav>
