<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-black navbar-black py-2 py-lg-0 px-lg-5">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-0 px-lg-3" id="navbarCollapse">
            <div class="navbar-nav mr-auto py-0" >
               <li [routerLinkActive]="'active'"> <a  routerLink="./Anasayfa"    class="nav-item nav-link " style="color: aliceblue;" >Anasayfa</a></li>
               <li [routerLinkActive]="'active'"><a routerLink="Kategori"  class="nav-item nav-link"style="color: aliceblue;"  >Kategori</a></li>
               <li [routerLinkActive]="'active'"><a routerLink="./Hakkımda"  class="nav-item nav-link" style="color: aliceblue;" >Hakkımda</a></li>
            </div></div>
