<aside>
<div class="d-flex flex-column flex-shrink-0 p-3 mt-2 " style="width: 200px; background-color: rgb(247, 247, 5);">

      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4" id="tracking-in-expand" style="color: rgb(15, 1, 1);">FİLTRELE</span>

    <hr>
    <div style="background-color: rgb(0, 0, 0);">
    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a href="sondakika" class="nav-link text-white">

          Son Dakika Haber
        </a>
      </li> <li>
        <a href="ekonomi" class="nav-link text-white">

          Ekonomi Haber
        </a>
      </li>
      <li>
        <a href="tech" class="nav-link text-white">

          Teknoloji Haber
        </a>
      </li>
      <li>
        <a href="health" class="nav-link text-white">

          Sağlık Haber
        </a>
      </li>
      <li>
        <a href="sport" class="nav-link text-white">

          Spor Haber
        </a>
      </li>
    </ul>
    </div>
  <aside>




