


<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<main class="px-3" style="font-family: 'Times New Roman', Times, serif ;">
  <h1 class="baslik" style="font-family: 'Times New Roman', Times, serif ; " id="tracking-in-expand">Hakkımda </h1>
  <div style="border-radius: 80px;" class="flicker-in-1 ">
  <img src="assets/img/RESİMİM.jpg" alt="resim" style="border-radius: 80px;">
</div>
  <p class="lead" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  ;color: #ffffff;">Çeşitli sertifika,kurslar,bootcampler ve programlar sayesinde kendimi front-end alanında geliştirdim. Aynı zamanda arayüzlerin geliştirilmesi için kodlarda düzenleme ve geliştirme yapabiliyorum. Mobil alandada kendimi geliştirmeye başladım. Gelişime açık bir insanım hızlı ve kolay uyum sağlayabilir ve kolay öğrenen bir yapıya sahibim.</p>

  <p class="lead" style="font: 1em sans-serif;">

    <a href="assets/img/CV22.zip" class="btn btn-lg btn-light fw-bold border-black "  >CV İNDİR</a>

  </p>
</main>

</div>

