

<body class="d-flex h-100 text-center  " id="sayfa3"style="background-color: rgb(177, 56, 56);" >
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<main class="px-3" style="font-family: 'Times New Roman', Times, serif ;">
  <h1 class="fw-bold border-white" style="font-family: 'Times New Roman', Times, serif ; " id="tracking-in-expand">Hakkımda </h1>
  <div style="border-radius: 80px;">
  <img src="assets/img/RESİMİM.jpg" alt="resim" style="border-radius: 80px;">
</div>
  <p class="lead">Çeşitli sertifika,kurslar,bootcampler ve programlar sayesinde kendimi front-end alanında geliştirdim. Aynı zamanda arayüzlerin geliştirilmesi için kodlarda düzenleme ve geliştirme yapabiliyorum. Mobil alandada kendimi geliştirmeye başladım. Gelişime açık bir insanım hızlı ve kolay uyum sağlayabilir ve kolay öğrenen bir yapıya sahibim.</p>

  <p class="lead" style="background-color: black;">

    <a href="assets/img/CV22.zip" class="btn btn-lg btn-light fw-bold border-black bg-aqua"  >CV İNDİR</a>

  </p>
</main>
</div>
</body>
